.topbar {
  height: 60px;
  background-color: rgb(243, 243, 244);

  .logout {
    background-color: #ffffff00;
    border: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    float: right;
    margin-top: 13px;
  }
}
