.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}
.nav > li.active > a {
  color: #ffffff;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #021457;
  color: white;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: transparent;
}
.navbar {
  border: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: #010d2b;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li a {
  color: #000000;
  padding: 20px 10px;
  min-height: 50px;
}
.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
}
.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}

.nav-header {
  padding: 33px 25px;
  background-color: #010d2b;
}
.nav > li.active {
  border-left: 4px solid #fff;
  background: #021457;
}
.nav-header a {
  color: #dfe4ed;
}
.nav.navbar-top-links a {
  font-size: 14px;
}
.navbar-static-top {
  background: #f3f3f4;
}
.navbar .dropdown-menu {
  margin-top: 0;
}
/* Activity stream */
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #010d2b;
  font-size: 13px;
  color: #000000;
  overflow-x: hidden;
}
#page-wrapper {
  min-height: auto;
}
.block {
  display: block;
}
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}
.clear {
  color: #fff;
}
.font-bold {
  font-weight: 600;
}
/* WRAPPERS */
#wrapper {
  width: 100%;
  overflow-x: hidden;
}
.wrapper {
  padding: 0 20px;
}
.wrapper-content {
  padding: 20px 10px 40px;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
}
/* GLOBAL  */
.border-bottom {
  border-bottom: 1px solid #e7eaec;
}
/* BACKGROUNDS */
.gray-bg,
.bg-muted {
  background-color: #fff;
}
/* MARGINS & PADDINGS */
.m-t-xs {
  margin-top: 5px;
}
.m-t-lg {
  margin-top: 30px;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    min-height: 1200px;
  }
  .navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
  }
}
@media (max-width: 768px) {
  .navbar-static-side {
    display: none;
  }
}
