.searchPanel {
  margin-top: 10px;
  border: 1px solid #eee;
  padding: 10px;

  .formGroup {
    margin-bottom: 5px;
    .controlLabel {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
    }
  }

  .row {
    &.pt {
      padding-top: 10px;
    }
  }

  .btnSearch {
    width: 7em;
  }

  .btnOther {
    width: 100%;
  }
}
