body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  overflow-x: hidden;
}

h1 {
  font-weight: 100;
  font-size: 30px;
}

.container-flex {
  display: flex;
}

/* Custom Button */

/* MARGINS & PADDINGS */
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t-lg {
  margin-top: 30px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}
